p {
margin: 6px;
padding: 6px;
border: 4px solid black;
width: 200px;
height: 200px;
background-color: orange;
}

.my-grid {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto 15px;
}

.has-blue-background {
    background-color:#A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #faf7a7;
    border: 1px solid #E38C1E;
}

.flexbox-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
